/**
 * Custom general CSS
 */

/* General elements */

h1 {
    font-size: 2.25rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

div.button-panel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Tasks overview */

.categories-deck {
    align-items: flex-start;
}

.categories-deck .card {
    margin-bottom: 1rem;
    min-width: 15rem;
    display: flex;
}

.categories-deck .card .btn,
table.table .btn {
    padding: 0 0.25rem;
}

/* Forms */

form div.input {
    margin-bottom: 0.75rem;
}

form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: normal;
    font-style: italic;
    color: #C3232D;
}

/* Flash messages */

div.message {
    text-align: center;
    cursor: pointer;
}
div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}
div.message.alert-success:before {
    padding: 11px 16px 14px 7px;
    color: #28a745;
    content: "✓";
}
div.message.alert-danger:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}

/* Tables */

table.vertical-table th {
    text-align: right;
}
table.vertical-table td {
    text-align: left;
}